* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Helvetica,
        Arial,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji;
    color: #ccc;
    background-color: #1c1c1c;
    line-height: 1.6;
    text-align: left;
}

p {
    margin: 1% 0;
}

h1 {
    font-size: 480%;
    margin: 0;
}

h2 {
    font-size: 195%;
    margin: 0;
}

.wrap {
    font-size: 115%;
    max-width: 700px;
    margin: 2% auto;
    text-align: center;
}

@media (max-width: 400px) {
    .wrap {
	font-size: 100%;
    }
}
