changequote(`{{', `}}')
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="Open source body parts">
    <title>rsp8: esyscmd({{cat title}})</title>
    <style>include({{./main.css}})</style>
    <link rel="icon" href="data:;base64,esyscmd({{base64 /builds/rsp8sitetest/web/builder/favicon.png | tr -d '\n'}})">
  </head>
  <body>
    <div class="sidebar">
      <a esyscmd({{/builds/rsp8sitetest/web/builder/isactive.sh $(pwd) 'rsp'}})href="./">Home</a>
      <a esyscmd({{/builds/rsp8sitetest/web/builder/isactive.sh $(pwd) 'gnr'}})href="./gnr/">General</a>
      <a esyscmd({{/builds/rsp8sitetest/web/builder/isactive.sh $(pwd) 'hrt'}})href="./hrt/">Heart</a>
      <a esyscmd({{/builds/rsp8sitetest/web/builder/isactive.sh $(pwd) 'bld'}})href="./bld/">Blood</a>
      <a esyscmd({{/builds/rsp8sitetest/web/builder/isactive.sh $(pwd) 'lng'}})href="./lng/">Lung</a>
      <a esyscmd({{/builds/rsp8sitetest/web/builder/isactive.sh $(pwd) 'dgs'}})href="./dgs/">Digestive</a>
      <a esyscmd({{/builds/rsp8sitetest/web/builder/isactive.sh $(pwd) 'kdn'}})href="./kdn/">Kidney</a>
      <a esyscmd({{/builds/rsp8sitetest/web/builder/isactive.sh $(pwd) 'lvr'}})href="./lvr/">Liver</a>
      <a esyscmd({{/builds/rsp8sitetest/web/builder/isactive.sh $(pwd) 'cnt'}})href="./cnt/">Contributors</a>
    </div>
    <div class="content">
      <div class="headsvg">
        include({{/builds/rsp8sitetest/web/builder/respaw.svg}})
      </div>
